*{
    margin:1;
    padding:0;
    box-sizing: border-box;
}

body{
font-family: sans-serif;
}
.container{
    width: 100%;
    margin:auto;
}
nav{
    display: flex;
    width: 100%;
    height: 100px;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid hsl(240, 50%, 50%);
    border-top: 1px solid hsl(240, 50%, 50%);
    align-items: center;
    justify-content: space-between;
}

li{
    list-style:none;
    display: flex;
    flex-basis: 30%;
}
li a{
    text-decoration: none;
}
li ul:nth-child(1){
    margin:2em;
    padding: 1em;
    background-color:hsl(240, 50%, 90%);
    color: hsl(240, 50%, 50%);
}
li ul:nth-child(2){
    margin: 2em;
    padding: 1em;
    background-color: hsl(240, 50%, 50%);
    color: hsl(240, 50%, 90%);
}
.title{
    text-transform: uppercase;
}
nav header{
    text-transform: uppercase;
    display: flex;
    flex-basis: 60%;
    justify-content: center;
}
nav header::first-letter{
    font-size: 40px;
}            
main{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex:wrap;
}      

aside{
    display: flex;
    flex-direction: column;

}












